*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: white;
    background-color: hsl(230, 17%, 14%);
    position: relative;
}

.header-bg {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    background-color: hsl(232, 19%, 15%);
    border-radius: 0 0 30px 30px;
    z-index: -1;
}

.wrapper {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}